@import "./vars.scss";
@import "./header.scss";
@import "./action-link.scss";

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// ==================basic style
body {
    background-color: $black100;
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", system-ui;
}

* > *,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

input,
button {
    border: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    position: relative;
}

.main-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    color: $white;
}

.main-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: $grey2;
    max-width: 446px;
}

.net {
    max-width: 1096px;
    width: 100%;
    height: 707px;
    background-image: url(../img/main-page/net.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 160px;
    z-index: -1;
}
