@import "./vars.scss";
@import "./header.scss";
@import "./action-link.scss";

// =======================fonts
@font-face {
    font-family: "Chakra Petch", sans-serif;
    src: url("../fonts/ChakraPetch-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Chakra Petch", sans-serif;
    src: url("../fonts/ChakraPetch-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

// ==================basic style
body {
    background-color: $black100;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

input,
button {
    border: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
