.header {
    &__content {
        padding: 31px 0;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        gap: 64px;
    }

    &__item {
        position: relative;
    }

    &__item.active {
        .sublist-wrapper--page {
            height: 141px;
            // bottom: -150px;
        }
        .sublist-wrapper--blog {
            height: 110px;
            // bottom: -120px;
        }
        .anchor-link--add::after {
            transform: translateY(-50%) rotateX(180deg);
        }
    }
}

.anchor-link {
    position: relative;
    font-weight: 300;
    color: $white;
    font-family: "Chakra Petch", sans-serif;
    background: transparent;
    font-size: 16px;
    line-height: 1.4;
    cursor: pointer;

    &--add::after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: url(../img/arrow.svg) no-repeat center / contain;
        position: absolute;
        right: -27px;
        top: 50%;
        transform: translateY(-50%);
        transition: 300ms;
    }
}

.wave {
    position: fixed;
    top: 0;
    right: 0;
    width: 736px;
    height: 353.2px;
    z-index: -1;
}

.sublist-wrapper {
    height: 0;
    min-width: 200px;
    position: absolute;
    left: -30px;
    top: 40px;
    z-index: 2;
    overflow: hidden;
    transition: height 300ms;
}

.sublist {
    padding: 15px;
    border: 1px solid;
    border-image: linear-gradient(
        90deg,
        rgba(176, 176, 178, 0.6) 20%,
        rgba(176, 176, 178, 0) 100%
    );
    border-image-slice: 1;
    background-color: $black50;
    justify-content: space-between;
    height: 99%;

    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
}
