@import "./vars.scss";

.info-btn {
    position: relative;
    padding: 18px 38px;
    display: inline-block;
    background: $gradient;

    font-weight: 700;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        transform: translate(8px, 5px);
        z-index: -1;
        background: $gradient;
        filter: blur(20px);
        transition: 0.4s;
        opacity: 0;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}
