.preview {
    overflow: hidden;
    padding-top: 190px;
    margin-top: -75px;
}

.preview__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1201px;
    margin: 0 auto;
    padding-top: 13px;
    gap: 40px;

    @media (max-width: 1020px) {
        padding-bottom: 150px;
        position: relative;
    }
}
