$gradient: linear-gradient(
    90deg,
    rgba(12, 186, 241, 1) 0%,
    rgba(233, 92, 233, 1) 100%
);
$purple: #ca6aeb;
$blue: #19b5f1;
$success: #00c566;
$error: #ff4747;
$warning: #facc15;
$black100: #18181b;
$black50: #252532;
$grey1: #b0b0b2;
$grey2: #d1d1d1;
$white: #ffffff;
