$gradient: linear-gradient(90deg, rgba(12,186,241,1) 0%, rgba(233,92,233,1) 100%);
$purple: #CA6AEB;
$blue:#19B5F1;
$success:#00C566;
$error:#FF4747;
$warning:#FACC15;
$black100:#18181B;
$black50:#252532;
$grey1:#B0B0B2;
$grey2:#D1D1D1;
$white:#ffffff;
